.center {
	text-align: center;
}

.center h1 {
	margin: 0 0 10px 0;
}

.col-centered {
	float: none !important;
	margin: 0 auto;
	text-align: center;
}

.help-block {
    color: $red !important;
}

.hidden {
  display: none;
}
